<select [(ngModel)]="learningObjective" (change)="learningObjectiveChanged($event.target.value)">
  <option value="all"> All </option>
  <option *ngFor="let learn of learnObjectiveDrop" [value]="learn.id">{{learn.name}}</option>
</select>
<select [(ngModel)]="keyword" (change)="keywordChanged($event.target.value)">
  <option value="all"> All </option>
  <option *ngFor="let keyw of keywordTags" [value]="keyw.id">{{keyw.name}}</option>
</select>
<select [(ngModel)]="contentType" (change)="contentTypeChanged($event.target.value)">
  <option value="all"> All </option>
  <option *ngFor="let content of contentTypes" [value]="content">{{content}}</option>
</select>
<br/>

<table>
  <tbody>
    <tr>
      <th> id </th>
      <th> Learning Objectives </th>
      <th> Keyword </th>
      <th> content type </th>
    </tr>
    <tr *ngFor="let content of (products.contents | custom: learningObjective: keyword : contentType )">
      <td> {{content.id}} </td>
      <td>
        {{getlearningObjectiveName(content.learningObjective)}} 
      </td>
      <td>
        {{getKeywordName(content.keywordTags)}}
       </td>
      <td> {{content.contentType}} </td>
    </tr>
  </tbody>
</table>